<!DOCTYPE html>
<html>
    <head>
        <title>Maracujá</title>

    </head>
    <body onload="escreveCapitulo(); listaVersoes();">
        <!-- Include Quill stylesheet -->
        <link
            href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css"
            rel="stylesheet"
        />

        <a href="/project_page/{{ projectID }}">Página do Projeto</a>

        <button id="enviar" onclick="enviarTexto()">Salvar Capítulo</button>
        
        <!--<label for="version">Versão:</label>-->
        <select name="listaDeVersao" id="listaVersoes">
            
        </select>
        
        <button id="versionar" onclick="mostraVersionarDialog()">Nova Versão Capítulo</button>
        &nbsp;&nbsp;&nbsp;
        <button id="canonizar" onclick="abreCanonizarDialog()">Canonizar</button>
        
        
        <br><br>

        <div>
            <input id="tituloDoCapitulo" value="{{ tituloCapitulo }}">
        </div>
        <br>

        <!-- Create the editor container -->
        <div id="editor">
            <div id="textoVaiAqui">
                
            </div>
        </div>

        <br><br>
        <button id="deletar" onclick="deletarCapítulo()">Deletar Capítulo</button>

        <dialog id="multiInputModal"  class="dialogBox" close>
            <form method="dialog" id="modalForm">
                <h3>Digite o nome da nova versão!</h3>
                
                <label for="nomeNovaVersao">Nome da nova versão:</label>
                <input type="text" id="nomeNovaVersao" name="nomeNovaVersao" required />
                <br><br>

                <button type="button" id="cancelBtn" onClick="fechaDialog()">Cancelar</button>
                <button type="button" id="saveBtn" onClick="salvaNovaVersao()">Salvar</button>
            </form>
        </dialog>

        <dialog id="confirmaCanonizar"  class="dialogBox" close>
            <form method="dialog" id="modalFormCanonizar">
                <h3>Confirma canonização do capítulo?</h3>

                <button type="button" id="cancelBtn" onClick="fechaCanonizarDialog()">Cancelar</button>
                <button type="button" id="saveBtn" onClick="canonizar()">Salvar</button>
            </form>
        </dialog>

        <!-- Include the Quill library -->
        <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
            const project_id = "{{ projectID }}";
            const chapter_id = "{{ chapterID }}";
            const version_id = "{{ versionID }}";
            //const possivel_novo_version_id = "{{ possivelNovoVersionID }}";
            const chapter_data = {{ chapterData | tojson }};
            
            const quill = new Quill("#editor", {
                theme: "snow",
            });

            // monitora a opcao de versão de capítulo
            const selectElement = document.getElementById('listaVersoes');
            selectElement.addEventListener('change', (event) => {
                const selectedValue = event.target.value;
                console.log(selectedValue);
                window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${selectedValue}`;
            });

            function escreveCapitulo() {
                quill.setContents(chapter_data);
            }

            function enviarTexto() {
                const contents = quill.getContents();

                const chapter_title = document.getElementById("tituloDoCapitulo").value

                fetch("/data", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        contents: contents,
                        version_id: version_id,
                        chapter_title: chapter_title
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    window.location.href = `http://127.0.0.1:5000/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_i=${version_id}`
                })
                .catch(error => {
                    console.error("Erro ao enviar o texto:", error);
                });
            }

            function deletarCapítulo() {
                decisao = window.confirm("Essa ação irá deletar o capítulo. Tem certeza que deseja fazer isso?");
                //console.log("-> ", decisao);
                if (decisao) {
                    fetch("/deleta_capitulo", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            project_id: project_id,
                            chapter_id: chapter_id,
                            version_id: version_id
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        if (data.message == "ok") {
                            alert("Capítulo deletado com sucesso!");
                            window.location.href = `http://127.0.0.1:5000/project_page/${project_id}`
                        } else {
                            alert("Algo deu errado! Tente novamente!");
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao deletar o arquivo:", error);
                    });
                }
            }

            function mostraVersionarDialog() {
                const dialog = document.getElementById("multiInputModal");
                dialog.showModal();
            }

            function fechaDialog() {
                const dialog = document.getElementById("multiInputModal");
                dialog.close();
            }

            function salvaNovaVersao() {
                const nomeNovaVersao = document.getElementById("nomeNovaVersao").value;
                const contents = quill.getContents();
                const chapter_title = document.getElementById("tituloDoCapitulo").value;

                fetch("/nova_versao_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        contents: contents,
                        chapter_title: chapter_title,
                        nome_nova_versao: nomeNovaVersao
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        alert("Nova versão criada com sucesso!");
                        window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${data.version_id}`;
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });
            }

            function listaVersoes() {
                var element = document.getElementById('listaVersoes');

                fetch("/pega_versoes_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        console.log("data.lista: ",data.lista);

                        const targetId = parseInt(version_id);
                        const index = data.lista.findIndex(versao => versao[0] == targetId);
                        if (index !== -1) {
                            const versao = data.lista[index];
                            
                            // Add the option to the HTML element
                            element.innerHTML += `<option value="${versao[0]}">${versao[1]}</option>`;
                            
                            // Remove the item from the array
                            data.lista.splice(index, 1);
                        }

                        data.lista.forEach(versao => { 
                            element.innerHTML = element.innerHTML + `<option value="${versao[0]}">${versao[1]}</option>`
                        });
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });

                // <option value="v1">v1</option>
            } 

            function abreCanonizarDialog() {
                const dialog = document.getElementById("confirmaCanonizar");
                dialog.showModal();
            }

            function fechaCanonizarDialog() {
                const dialog = document.getElementById("confirmaCanonizar");
                dialog.close();
            }

            function canonizar() {
                fetch("/canonizar_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        version_id: version_id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        alert("Capítulo canonizado!")
                        window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${version_id}`;
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });
            }
        </script>
    </body>

</html>