<!DOCTYPE html>
<html>
    <head>
        <title>Maracujá</title>

    </head>
    <body onload="escreveCapitulo()">
        <!-- Include Quill stylesheet -->
        <link
            href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css"
            rel="stylesheet"
        />

        <a href="/project_page/{{ projectID }}">Página do Projeto</a>

        <button id="enviar" onclick="enviarTexto()">Salvar Capítulo</button>
        <br><br>

        <div>
            <input id="tituloDoCapitulo" value="{{ tituloCapitulo }}">
        </div>
        <br>

        <!-- Create the editor container -->
        <div id="editor">
            <div id="textoVaiAqui">
                
            </div>
        </div>

        <!-- Include the Quill library -->
        <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
            const project_id = "{{ projectID }}";
            const chapter_id = "{{ chapterID }}";
            const version_id = "{{ versionID }}";
            const chapter_data = {{ chapterData | tojson }};
            
            const quill = new Quill("#editor", {
                theme: "snow",
            });

            function escreveCapitulo() {
                quill.setContents(chapter_data);
            }

            function enviarTexto() {
                const contents = quill.getContents();

                const chapter_title = document.getElementById("tituloDoCapitulo").value

                fetch("/data", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        contents: contents,
                        version_id: version_id,
                        chapter_title: chapter_title
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    window.location.href = `http://127.0.0.1:5000/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}`
                })
                .catch(error => {
                    console.error("Erro ao enviar o texto:", error);
                });
            }
        </script>
    </body>

</html>