<!DOCTYPE html>
<html>
    <head>
        <title>{{ tituloCapitulo }}</title>

    </head>
    <body onload="iniciaPagina()">
        <!-- Include Quill stylesheet -->
        <!--<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet"/>-->
        <link href="/quillcss" rel="stylesheet"/>

        <a href="/project_page/{{ projectID }}" id="linkPaginaDoProjeto">Página do Projeto</a>

        <button id="enviar" onclick="enviarTexto()">Salvar Capítulo</button>
        
        <!--<label for="version">Versão:</label>-->
        <select name="listaDeVersao" id="listaVersoes">
            
        </select>
        
        <button id="versionar" onclick="mostraDialog('novaVersao')">Nova Versão</button>
        &nbsp;&nbsp;&nbsp;
        <button id="comparar" onclick="mostraDialog('compararVersao')">Comparar versões</button>
        &nbsp;&nbsp;&nbsp;
        <button id="canonizar" onclick="mostraDialog('confirmaCanonizar')">Canonizar</button>
        &nbsp;&nbsp;&nbsp;
        <select name="listaDeCapitulos" id="listaDeCapitulos">
            
        </select>
        
        
        <br><br>

        <div>
            <input id="tituloDoCapitulo" value="{{ tituloCapitulo }}">
        </div>
        <br>

        <!-- Create the editor container -->
        <div id="editor">
            <div id="textoVaiAqui">
                
            </div>
        </div>

        <br><br>
        <button id="deletar" onclick="deletarVersao()">Deletar Versão</button>

        <dialog id="novaVersao"  class="dialogBox" close>
            <form method="dialog" id="modalForm">
                <h3>Digite o nome da nova versão!</h3>
                
                <label for="nomeNovaVersao">Nome da nova versão:</label>
                <input type="text" id="nomeNovaVersao" name="nomeNovaVersao" required />
                <br><br>

                <button type="button" id="cancelBtn" onClick="fechaDialog('novaVersao')">Cancelar</button>
                <button type="button" id="saveBtn" onClick="salvaNovaVersao()">Salvar</button>
            </form>
        </dialog>

        <dialog id="confirmaCanonizar"  class="dialogBox" close>
            <form method="dialog" id="modalFormCanonizar">
                <h3>Confirma canonização do capítulo?</h3>

                <button type="button" id="cancelBtn" onClick="fechaDialog('confirmaCanonizar')">Cancelar</button>
                <button type="button" id="saveBtn" onClick="canonizar()">Salvar</button>
            </form>
        </dialog>

        <dialog id="compararVersao"  class="dialogBox" close>
            <form method="dialog" id="modalFormCanonizar">
                <h3>Quais versões você deseja comparar?</h3>

                <p>Primeira versão:</p>
                <select name="listaDeCapitulos" id="primeiraLista">
            
                </select>
                
                <p>Segunda versão:</p>
                <select name="listaDeCapitulos" id="segundaLista">
                    
                </select>
                <br><br>
                <button type="button" id="cancelBtn" onClick="fechaDialog('compararVersao')">Cancelar</button>
                <button type="button" id="saveBtn" onClick="abreJanelaComparacao()">Comparar!</button>
            </form>
        </dialog>

        <!-- Include the Quill library -->
        <!--<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>-->
        <script src="/quilljs"></script>

        <!-- Initialize Quill editor -->
        <script>
            const project_id = "{{ projectID }}";
            const chapter_id = "{{ chapterID }}";
            const version_id = "{{ versionID }}";
            const iframeFlag = "{{ iframeFlag }}";
            const chapter_data = {{ chapterData | tojson }};

            console.log("--> banana ",iframeFlag);
            
            const quill = new Quill("#editor", {
                theme: "snow",
            });

            function iniciaPagina() {
                escreveCapitulo();
                if (iframeFlag == 1) {
                    let element = document.getElementById("linkPaginaDoProjeto");
                    element.remove();
                    element = document.getElementById("versionar");
                    element.remove();
                    element = document.getElementById("comparar");
                    element.remove();
                    element = document.getElementById("listaDeCapitulos");
                    element.remove();
                    element = document.getElementById("listaVersoes");
                    element.remove();
                    return
                } else {
                    listaVersoes();
                    populaListaDeCapitulos();
                }
            }

            // monitora a opcao de versão de capítulo
            const selectVersao = document.getElementById('listaVersoes');
            selectVersao.addEventListener('change', (event) => {
                const selectedValue = event.target.value;
                console.log(selectedValue);
                window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${selectedValue}`;
            });

            // monitora a opcao de versão de capítulo
            const selectCapitulo = document.getElementById('listaDeCapitulos');
            selectCapitulo.addEventListener('change', (event) => {
                const selectedValue = event.target.value;
                const valores = selectedValue.split(";")
                console.log(selectedValue.split(";"));
                window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${valores[0]}&version_id=${valores[1]}`;
            });

            function escreveCapitulo() {
                quill.setContents(chapter_data);
            }

            function enviarTexto() {
                const contents = quill.getContents();

                const chapter_title = document.getElementById("tituloDoCapitulo").value;

                fetch("/data", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        contents: contents,
                        version_id: version_id,
                        chapter_title: chapter_title
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    //window.location.href = window.location.href;
                    if (iframeFlag == 1){
                        window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${version_id}&iframeFlag`
                    } else {
                        window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${version_id}`
                    }
                })
                .catch(error => {
                    console.error("Erro ao enviar o texto:", error);
                });
            }

            function deletarVersao() {
                decisao = window.confirm("Essa ação irá deletar essa versão do capítulo. Tem certeza que deseja prosseguir?");
                //console.log("-> ", decisao);
                if (decisao) {
                    fetch("/deleta_versao", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            project_id: project_id,
                            chapter_id: chapter_id,
                            version_id: version_id
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        if (data.message == "ok") {
                            alert("Capítulo deletado com sucesso!");
                            window.location.href = `http://127.0.0.1:5000/project_page/${project_id}`
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao deletar o arquivo:", error);
                    });
                }
            }

            function mostraDialog(idDoDialog) {
                const dialog = document.getElementById(idDoDialog);
                dialog.showModal();
            }

            function fechaDialog(idDoDialog) {
                const dialog = document.getElementById(idDoDialog);
                dialog.close();
            }

            function salvaNovaVersao() {
                const nomeNovaVersao = document.getElementById("nomeNovaVersao").value;
                const contents = quill.getContents();
                const chapter_title = document.getElementById("tituloDoCapitulo").value;

                fetch("/nova_versao_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        contents: contents,
                        chapter_title: chapter_title,
                        nome_nova_versao: nomeNovaVersao
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        alert("Nova versão criada com sucesso!");
                        window.location.href = `/editarCapitulo/?project_id=${project_id}&chapter_id=${chapter_id}&version_id=${data.version_id}`;
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });
            }

            function listaVersoes() {
                listaVersao("listaVersoes");
                listaVersao("primeiraLista");
                listaVersao("segundaLista");
            }

            function listaVersao(html_id) {
                var element = document.getElementById(html_id);

                fetch("/pega_versoes_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        console.log("data.lista: ",data.lista);

                        const targetId = parseInt(version_id);
                        const index = data.lista.findIndex(versao => versao[0] == targetId);
                        if (index !== -1) {
                            const versao = data.lista[index];
                            
                            // Add the option to the HTML element
                            element.innerHTML += `<option value="${versao[0]}">${versao[1]}</option>`;
                            
                            // Remove the item from the array
                            data.lista.splice(index, 1);
                        }

                        data.lista.forEach(versao => { 
                            element.innerHTML = element.innerHTML + `<option value="${versao[0]}">${versao[1]}</option>`
                        });
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });

                // <option value="v1">v1</option>
            }

            function canonizar() {
                fetch("/canonizar_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: project_id,
                        chapter_id: chapter_id,
                        version_id: version_id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        alert("Capítulo canonizado!")
                        window.location.href =  window.location.href;
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
                .catch(error => {
                    console.error("Erro ao criar a nova versão:", error);
                });
            }

            function abreJanelaComparacao() {
                const v1 = document.getElementById("primeiraLista");
                const v2 = document.getElementById("segundaLista");
                console.log("-> ",v1.value, v2.value);

                if (v1.value != v2.value) {
                    window.location.href = `/compararVersoes/?project_id=${project_id}&chapter_id=${chapter_id}&v1=${v1.value}&v2=${v2.value}`;
                } else {
                    alert("Erro. Versões devem ser diferentes")
                }
            }


            async function populaListaDeCapitulos() {
                const response = await fetch("/project_info/" + project_id);
                projectData = await response.json();

                console.log("projectData.capitulos: ", projectData.capitulos);

                element = document.getElementById('listaDeCapitulos');
                element.innerHTML = element.innerHTML  + `<option value="a;b">Selecione Capítulo</option>`;
                projectData.capitulos.forEach(capitulo => {
                    element.innerHTML = element.innerHTML  + `<option value="${capitulo[1]};${capitulo[3]}">${capitulo[2]}</option>`;
                });
            }
        </script>
    </body>

</html>