<!DOCTYPE html>
<html>
    <head>
        <title>Maracujá</title>
        <style>
            .center {
                display: flex;
                justify-content: center; /* Centers horizontally */
                align-items: center;     /* Centers vertically */
            }

            .botoesBase {
                display: grid;
                grid-template-columns: auto auto;
                padding: 10px;
                gap: 10px;
            }
        </style>
    </head>
    <body onload="populaPagina()">
        <!-- Include Quill stylesheet -->
        <div class="campo">
            <h1 class="center">Vamos criar!</h1>
    
            <div class="center" id="ListaDeLivros">
            </div>
    
            <div class="center botoesBase">
                <a href="/todos_projetos">Ver todos os projetos</a>
                <a href="/criar_projeto">Criar novo projeto</a>
            </div>
        </div>

        <script>
            let livros;
            async function populaPagina() {
                const response = await fetch("/lista_projetos_recentes");
                livros = await response.json();
                console.log(livros);
                let temp = `<ul>`;
                
                Object.entries(livros).forEach(([key, value]) => {
                    temp = temp + `<li><a href="/project_page/${value}">${key}</a></li>`;
                });
                temp = temp + "</ul"
                
                var element = document.getElementById("ListaDeLivros");
                element.innerHTML = temp;
            }
        </script>
    </body>

</html>