<!DOCTYPE html>
<html>
    <head>
        <title>Maracujá</title>
        <style>
            .center {
                display: flex;
                justify-content: center; /* Centers horizontally */
                align-items: center;     /* Centers vertically */
            }
        </style>
    </head>
    <body onload="populaPagina()">
        <!-- Include Quill stylesheet -->
        <div class="campo">
            <h1 class="center">Vamos criar!</h1>
    
            <div class="center" id="ListaDeLivros">
            </div>
    
            <div class="center botoesBase">
                <button onclick="verProjetos()">Ver todos os projetos</button>
                <button onclick="criarProjeto()">Criar novo projeto</button>
            </div>
        </div>

        <script>
            let livros;
            async function populaPagina() {
                const response = await fetch("/lista_capitulos");
                livros = await response.json();
                console.log(livros.livros['0']);
                let temp = `
                <ul>
                    <li>primeiroLivro</li>
                    <li>segundoLivro</li>
                    <li>terceiroLivro</li>
                    <li>quartoLivro</li>
                    <li>quintoLivro</li>
                </ul>
                `;

                temp = temp.replace("primeiroLivro",livros.livros['0']);
                temp = temp.replace("segundoLivro",livros.livros['1']);
                temp = temp.replace("terceiroLivro",livros.livros['2']);
                temp = temp.replace("quartoLivro",livros.livros['3']);
                temp = temp.replace("quintoLivro",livros.livros['4']);

                var element = document.getElementById("ListaDeLivros");
                element.innerHTML = temp;
            }
        </script>
    </body>

</html>