<!DOCTYPE html>
<html>
    <head>
        <title>Projeto</title>
        <style>
            .infoProjeto {
                display: grid;
                grid-template-columns: 30% 70%;
                width: 100%;
                align-items: start;
            }

            .infoProjeto > div:first-child {
                width: 100%;
            }

            .infoProjeto > div:last-child {
                width: 100%;
                min-width: 0;
                overflow-wrap: break-word;
            }

            .imagemBotao {
                position: relative;
                border: none;
                padding: 0;
                background: none;
                cursor: pointer;
            }

            .imagemBotao img {
                display: block;
            }

            .imagemHover {
                display: none !important;
            }

            .imagemBotao:hover .imagemNormal {
                display: none !important;
            }

            .imagemBotao:hover .imagemHover {
                display: block !important;
            }

            img {
                width: 95%;
                align-items: center;
            }
        </style>
    </head>
    <body onload="populaPagina()">
        <div>
            <button onclick="salvaInfo()">Salvar Mudanças</button>
            <a href="/">Voltar para a página principal</a>
            <button onclick="deletaProjeto()">Deletar Projeto</button>
            <br><br>
        </div>

        <div class="campo" id="campo">
            <div class="infoProjeto">
                <div>
                    <input type="file" id="fileInput" style="display: none;">
                    <button class="imagemBotao" type="button" onclick="document.getElementById('fileInput').click()">
                        <img class="imagemNormal" src="/img/CAPA_DO_PROJETO" alt="" id="imageCapa">
                        <img class="imagemHover" src="/img_app/2" alt="">
                    </button>
                </div>
                <div>
                    <h2>Título do Projeto</h2>
                    <textarea id="tituloField" rows="2" cols="100"></textarea>

                    <h2>Sinopse</h2>
                    <textarea id="sinopseField" rows="2" cols="100"></textarea>

                    <div>
                        <a href="/editarCapitulo/?project_id={{ projectID }}&chapter_id=Novo">Criar Capítulo</a>
                        <button onclick="moveCapituloDialog()">Mover capítulo ↹</button>
                    </div>

                    <h2>Capítulos</h2>
                    <ul id="listaDeCapitulos">

                    </ul>

                    <dialog id="multiInputModal"  class="moverCapituloDialog" close>
                        <form method="dialog" id="modalForm">
                            <h3>Movendo capítulo!</h3>
                            
                            <label for="capitulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Capitulo:</label>
                            <input type="number" id="capituloASerMovido" name="capitulo" required />
                            <br><br>

                            <label for="posicao">Nova posição:</label>
                            <input type="number" id="novaPosicaoDoCapitulo" name="posicao" required />

                            <div class="dialog-actions">
                            <button type="button" id="cancelBtn" onClick="fechaDialog()">Cancelar</button>
                            <button type="submit" value="submit" onClick="moveCapitulo()">Salvar</button>
                            </div>
                        </form>
                    </dialog>
                </div>
            </div>
        </div>

        <script>
            let livros;
            let titulo;
            let sinopse;
            let capa;
            let selectedFile;
            let fileInput;
            let preview;
            let numeroDeCapitulos;
            const projectID = "{{ projectID }}";
            console.log("--> ",projectID);


            async function populaPagina() {
                const response = await fetch("/project_info/" + projectID);
                projectData = await response.json();
                console.log("--> ",projectData.capitulos);
                let temp = ``;

                titulo = projectData.name;
                sinopse = projectData.sinopse;
                capa = projectData.capa;

                console.log("número de capítulos: ", projectData.capitulos.length);
                numeroDeCapitulos = projectData.capitulos.length;
                
                listaHTML = ""
                projectData.capitulos.forEach(capitulo => {
                    listaHTML = listaHTML + `<li>${capitulo[0]} - <a href="/editarCapitulo/?chapter_id=${capitulo[0]}&project_id=${projectID}">${capitulo[1]}</a> </li>`;
                });
                listaHTML = listaHTML;
                var lista = document.getElementById("listaDeCapitulos")
                lista.innerHTML = listaHTML;

                var element = document.getElementById("campo");
                
                document.getElementById("tituloField").value = projectData.name;
                document.getElementById("sinopseField").value = projectData.sinopse;
                document.getElementById("imageCapa").src = "/img/" + projectData.capa;

                fileInput = document.getElementById("fileInput");
                preview = document.getElementById("imageCapa");
                fileInput.addEventListener("change", () => {
                    selectedFile = fileInput.files[0];

                    if (!selectedFile) return;

                    preview.src = URL.createObjectURL(selectedFile);
                    preview.style.display = "block";
                });
            }

            function salvaInfo() {
                console.log(titulo, sinopse, fileInput.files[0]);

                let novo_titulo = document.getElementById("tituloField").value;
                let nova_sinopse = document.getElementById("sinopseField").value;

                console.log(novo_titulo, nova_sinopse);

                const formData = new FormData();
                formData.append("project_id", projectID);
                formData.append("titulo", novo_titulo);
                formData.append("sinopse", nova_sinopse);
                formData.append("image",fileInput.files[0]);

                chamaAPI(formData).then(dados => {
                    resultado = dados;
                    if (resultado.msg == 'ok') {
                        alert("Atualizado com sucesso!")
                        window.location.href = `/project_page/${projectID}`
                    }
                })
                .catch(erro => {
                    console.error(erro);
                });
            }

            async function chamaAPI(formData) {
                const response = await fetch("/atualiza_projeto_info", {
                   method: "POST",
                   body: formData
                });
                return response.json();
            }

            function deletaProjeto() {
                decisao1 = window.confirm("Essa ação irá deletar o <b>projeto inteiro</b>. Tem certeza que deseja fazer isso?");
                decisao2 = window.confirm("Tem certeza mesmo?");
                //console.log("-> ", decisao);
                if (decisao1 && decisao2) {
                    fetch("/deleta_projeto", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            project_id: projectID
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        if (data.message == "ok") {
                            alert("Projeto deletado com sucesso!");
                            window.location.href = `http://127.0.0.1:5000/`
                        } else {
                            alert("Algo deu errado! Tente novamente!");
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao deletar o arquivo:", error);
                    });
                }
            }

            function moveCapituloDialog() {
                const dialog = document.getElementById("multiInputModal");
                dialog.showModal();
            }

            function fechaDialog() {
                const dialog = document.getElementById("multiInputModal");
                dialog.close();
            }

            function moveCapitulo() {
                const capituloASerMovido = document.getElementById("capituloASerMovido").value;
                const novaPosicaoDoCapitulo = document.getElementById("novaPosicaoDoCapitulo").value;

                if (capituloASerMovido === "" || novaPosicaoDoCapitulo === "") {
                    alert("Erro. Revise valores e tente novamente.");
                    return;
                }

                if ( capituloASerMovido === novaPosicaoDoCapitulo) {
                    alert("Erro. Capítulo não pode ser movido para a mesma posição.");
                    return;
                }

                if (parseInt(capituloASerMovido) < 1 || parseInt(novaPosicaoDoCapitulo) < 1) {
                    alert("Erro. Valores inválidos.");
                    return;
                }

                if (parseInt(capituloASerMovido) > numeroDeCapitulos || parseInt(novaPosicaoDoCapitulo) > numeroDeCapitulos) {
                    alert("Erro. Valores inválidos.");
                    return;
                }

                fetch("/move_capitulo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        project_id: projectID,
                        capituloASerMovido: capituloASerMovido,
                        novaPosicaoDoCapitulo: novaPosicaoDoCapitulo
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (data.message == "ok") {
                        alert("Capítulo movido com sucesso!");
                        window.location.href = `/project_page/${projectID}`
                    } else {
                        alert("Algo deu errado! Tente novamente!");
                    }
                })
            }
        </script>
    </body>

</html>